{% extends 'base.html' %}

{% block content %}
    <h1>Homepage</h1>
    <p1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at volutpat eros. Integer tristique sit amet ante et facilisis. Donec at pharetra tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc euismod erat id lorem vehicula, at euismod lacus vulputate. Proin aliquam est ac est iaculis convallis. Pellentesque id turpis at enim efficitur gravida. Donec dictum libero lorem, eget tempus lorem aliquam vel. Mauris vel nisl volutpat, suscipit sapien id, tempus turpis. Donec rhoncus dui a finibus efficitur.

{% endblock content %}